:root {
    --logo-font: "Aguafina Script";
    --font-2: "Agdasima";
    --children-clr: #ff99003c;
    --adults-clr: #007bff3c;
    --utility-clr: #0000003c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reuseables */
.grid {
    max-width: 60rem;
    margin-inline: auto;
}

.box {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 2rem -25px #000;
}

.store-section-header {
    position: absolute;
    top: 50%;
    left: 0px;
    color: #fff;
    transform: rotate(-90deg);
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 3px;
}


body {
    font-family: var(--font-2);
    line-height: 1.2;
    font-size: 1.1rem;
}

header {
    min-height: 65svh;
    background-image: url("./images/main_background.jpg");
    background-size: cover;
}

#logo {   
    padding: 1rem;
    font-weight: 500;
    border-radius: 1.5rem;
    width: 100%;
}

.logo-wrapper {
    width: 85px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0 0 2rem -22px #000;
    border-radius: 1.5rem;
    backdrop-filter: blur(10px);
    animation: logo-parallax linear;
    animation-timeline: scroll();
}

@keyframes logo-parallax {
    to {
        transform: translateY(-150px);
        transform: translateX(-40px);
        scale: 1.04;
    }
}

nav {
    box-shadow: 0 5px 16px -16px #000;
    position: fixed;
    width: 100%;
    height: fit-content;
    background-color: #ffffff7d;
    backdrop-filter: blur(5px);
    z-index: 9999;
}

nav h2 {
    position: absolute;
    left: 3%;
    top: 15px;
    font-family: var(--logo-font);
    z-index: 9999;
}

.my-nav {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: fit-content;
    z-index: 9999;
}

li {
    text-align: center;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#invisible-row {
    color: transparent;
    box-shadow: none;
    cursor: default;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: black;
    padding-block: 1rem;
    width: 100%;
    transition: all 100ms linear;
}

a:hover {
    box-shadow: 0 -5px 16px -12px #000;
    background-color: #ffffff84;
}

.nav-button {
    position: absolute;
    right: 3%;
    top: 10px;
    display: none;
    background-image: url("./images/hamburger.png");
    width: 27px;
    height: 27px;
    border: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    z-index: 9999;
}

/* First section Three parahraphs */
.three-paragraphs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
}

.three-paragraphs > * {
    width: 30%;
    padding: 1rem;   
}

.three-paragraphs::after {
    content: "";
    width: 65%;
    margin-inline: auto;
    border-bottom: solid 1.5px #000;
    padding-block: 1rem;
}

.one-paragraph {
    transform: translateY(50px);
    opacity: 0;
}

.fade-in {
    transform: translateY(0);
    opacity: 1;
    transition: all 500ms ease-out;
}

.p-heading {
    margin-block: .5rem;
    border-left: 1.5px solid #000;
    padding-inline: 1rem;
    padding-block: .2rem;
    font-weight: 600;
    width: fit-content;
}


/* Second section Store */
.section-2-header {
    text-align: center;
    padding-block: 2rem 2rem;
    font-family: var(--font-2);
    font-size: 2rem;
}

.boxes {
    max-width: 100svw;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-block: 2.5rem;
    padding-inline: 2rem;
}

.box-children {   
    background-image: url("./images/children.jpg");
    background-size: cover;
}

.box-adults {   
    background-image: url("./images/children.jpg");
    background-size: cover;
}

.box-utility {   
    background-image: url("./images/children.jpg");
    background-size: cover;
}

.box-children > p {
    background-color: var(--children-clr);
}

.box-adults > p {
    background-color: var(--adults-clr);
}

.box-utility p {
    background-color: var(--utility-clr);
}


/* Responsibility */
@media (width < 55rem) {
    nav {
        min-height: 50px;
    }
    .my-nav {
        flex-direction: column;
        height: 0px;
        }
    .nav-button {
        display: block;
    }
    a:hover {
        box-shadow: 0 0 16px -13px #000;
    }
    /* Section one */
    .three-paragraphs > * {
        width: 45%;
    }
}

@media (width <= 40rem) {
    .three-paragraphs > * {
        width: 100%;
    }
}

@media (width <= 30rem) {
    .boxes {
        padding-inline: 1rem;
    }
}